[Desktop Entry]
Name=Kew
Comment=Terminal music player
Exec=alacritty -e kew
Icon=audio-x-generic
Terminal=false
Type=Application
Categories=AudioVideo;Player;
