[Desktop Entry]
Name=Neovim
Exec=nvim %F
Type=Application
Terminal=true
MimeType=text/plain;text/markdown;text/x-shellscript;text/x-python;text/x-csrc;text/x-tex;text/x-log;
NoDisplay=true
