configuration {
font: "terminus 8";
show-icons: false;
drun-display-format: "> {name}";
}

* {
lightbg: #1d1f21;
background: #1d1f21;
lightfg: #ff4747;
foreground: #cccccc;
}

window {
width: 40em;
}
