configuration {
font: "terminus 8";
show-icons: false;
drun-display-format: "> {name}";

// конфигурация клавиш
kb-row-up: "Up,Control+k"; // Перемещение вверх
kb-row-down: "Down,Control+j"; // Перемещение вниз

// Чтобы освободить необходимые клавиши нужно переназначить команды в которых они используются
// "" - Не назначать ничего
kb-accept-entry: "Return,KP_Enter"; // Выбрать
kb-remove-to-eol: ""; // Удалить все после курсора в поле ввода
}

* {
lightbg: #1d1f21;
background: #1d1f21;
lightfg: #ff4747;
foreground: #cccccc;
}

window {
width: 40em;
}
